@model FleetManagement.Models.Container

@{
    ViewBag.Title = "Transfer";
}

<h2>Transfer</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Container  @Model.ContainerName (id: @Model.ContainerID)</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ContainerID)

        
        <div class="form-group">
            @Html.LabelFor(model => model.VesselID, "Transfer to Vessel", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VesselID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VesselID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
